@{
    ViewBag.Title = "ShowTrend";
}
@model IEnumerable<MvcHOME.Hom>


    

<div id="part1" class="btn-group" role="group"> 
            <h2>Оберіть квартиру</h2>
@foreach (var item in Model)
{
       
       <div id="past" >
           <input type="checkbox" name="@item.ID" />@item.Apartament_naber

        </div> 
  
 }           
   
 <div class="btn-group" role="group">     
<div id="cldf" > 
  @using (Ajax.BeginForm("IndexSort","Cold" ,new AjaxOptions { UpdateTargetId="upd" }))
  { 
  <input type="hidden" name="id" value="true" />

  }
</div>
</div>
<div class="btn-group" role="group">   
<div id="htf" >
 @using (Ajax.BeginForm("IndexSort","Hot" ,new AjaxOptions { UpdateTargetId="upd" }))
  { 
  <input type="hidden" name="id" value="true" />

  }
</div>
</div>
<div class="btn-group" role="group">   
<div id="swgf" >
 @using (Ajax.BeginForm("IndexSort","Sewage" ,new AjaxOptions { UpdateTargetId="upd" }))
  { 
  <input type="hidden" name="id" value="true" />

  }
</div>
</div>
<div class="btn-group" role="group">   
<div id="elf" >
 @using (Ajax.BeginForm("IndexSort", "Electricity", new AjaxOptions { UpdateTargetId = "upd" }))
  { 
  <input type="hidden" name="id" value="true" />

  }
</div>
</div>
<div  class="btn-group" role="group" id="f4">
    <button  id="reload" class="btn btn-default " disabled="disabled">Reload </button>
</div>   
     

 
</div>
<div id="upd" >
  
</div>



<script type="text/javascript">
    jQuery(document).ready(function () {

       
    $(function () {

        $('input').bind('click', function (e) {
            var vl = $(this).attr('name');
            console.log(vl);
           
           
            

            $('#cldf input:first').attr('value', vl);

            $('#form0 ').append(function (i) { return '<button type="submit" class="btn btn-default  ">Cold water </button>' });
            $('#htf input:first').attr('value', vl);
            $('#form1 ').append(function (i) { return '<button type="submit" class="btn btn-default  ">Hot water </button>' });
            $('#swgf input:first').attr('value', vl);
            $('#form2 ').append(function (i) { return '<button type="submit" class="btn btn-default ">Sawage</button>' });
            $('#elf input:first').attr('value', vl);
            $('#form3 ').append(function (i) { return '<button type="submit" class="btn btn-default " > Electric</button>' });
            $('#past input').attr('disabled', 'disabled');

            $('#reload').removeAttr('disabled');

         //  $('input').unbind();
        });


    });
  
});

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reload').click(function () {
             $("body").load("/Home/ShowTrend/");
            console.log("I click")
        });
        //$('.btn.btn-default ').click(function () {
        //    console.log('Click button')
        //});
       
    });
</script>
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")